---
import Button from "@/components/astro-shad/Button.astro";
import GsapHero01 from "@/components/astro-shad/sections/GsapHero-01.astro";
import "@/styles/global.css";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="icon" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body>
    <section class="min-h-screen">
      <GsapHero01 />
    </section>
    <section class="min-h-screen">
      <h2>test</h2>
      <Button>asdf</Button>
    </section>
  </body>
</html>
