---
import { Icon } from "astro-icon/components";
import Button from "../../../astro-shad/Button.astro";
---

<Button><Icon slot="icon-left" name="lucide:download" size={16} />Download</Button>
<Button variant="secondary"><Icon slot="icon-left" name="lucide:plus" size={16} />New item</Button>
<Button variant="outline">Next<Icon slot="icon-right" name="lucide:arrow-right" size={16} /></Button>
