---
import Button from '../../../astro-shad/Button.astro';
---

<Button>Primary</Button>
<Button variant="secondary">Secondary</Button>
<Button variant="inverse">Inverse</Button>
<Button variant="outline">Outline</Button>
<Button variant="ghost">Ghost</Button>
<Button variant="destructive">Destructive</Button>
