---
import ButtonGroup from '../../../astro-shad/ButtonGroup.astro';
import Button from '../../../astro-shad/Button.astro';
---

<ButtonGroup>
  <Button variant="outline">Copy</Button>
  <Button variant="outline">Paste</Button>
  <Button variant="outline">Delete</Button>
</ButtonGroup>
