---
/* Root redirects to the docs site -- /docs is the front door. */
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="refresh" content="0;url=/docs" />
    <title>astro-shad</title>
  </head>
  <body>
    <a href="/docs">astro-shad docs</a>
  </body>
</html>
