---
import PulseGrid from '../../../astro-shad/PulseGrid.astro';
---

<div class="relative h-64 w-full overflow-hidden rounded-lg border border-border bg-card">
  <PulseGrid
    colors={['#60a5fa', '#a78bfa', '#f472b6']}
    cellSize={48}
    speed={2.5}
    fillOpacity={0.12}
    cellRadius={6}
  />
</div>
